#img-cars {
  width: 75%;
  height: 225px;
}
#btn-mobil-amel {
  width: 100%;
}
#card-amels,
#cards-amel {
  height: 100%;
}
.col-4 {
  margin-bottom: 2%;
}
.content {
  height: 100%;
  margin-top: 2%;
}
#car-name {
  font-weight: bold;
}
