.floating-form {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -380px;
}

.card {
  border-radius: 10px;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 2%;
}

.form-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.95em;
}
#span-punya-amalia {
  left: 0;
}
.form-field {
  width: auto;
}
#list-cars {
  margin-top: 5%;
}
.form-field .form-control,
.form-field .form-select {
  color: #8a8a8a;
  width: 200px;
}
.form-display {
  background: transparent;
}
.form-field button {
  margin-top: 30px;
  align-self: center;
}
/* .row {
    opacity: 1;
  } */
/* #content-1,
.navbar,
/* footer {
  opacity: 0.3;
} */
/* .form-select option:hover {
    background-color: #5cb85f !important;
  } */
.konten1 > select > .form-select > option:hover,
.konten1 > select > .form-select > option:focus {
  background-color: red !important;
  color: white !important;
}
.date-label {
  background-image: url(../img/fi_calendar.png);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
}
select.clock-label {
  background-image: url(../img/fi_clock.png);
  background-size: auto;
}
.penumpang-label {
  background-image: url(../img/fi_users.png);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
}

#clear-btn {
  display: none;
}
@media only screen and (min-width: 768px) {
  .floating-form {
    margin: 0 50px;
    bottom: -240px;
  }

  .form-field {
    width: auto;
  }

  .form-field .form-control,
  .form-field .form-select {
    width: 300px;
  }

  .form-field__button {
    display: block;
    width: 100%;
  }

  .form-field__button .btn {
    width: 100%;
  }
}

/* Large device (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .floating-form {
    bottom: -80px;
  }

  .form-field {
    width: auto;
  }

  .form-field .form-control,
  .form-field .form-select {
    width: 200px;
  }
}
